/*
Name            : Bishnu Khanal
Student Number  : 300924228
Designation     : Assignment 2 Mean Portfolio site
Site / Page     : about.component.css
*/

.customDiv {
  margin-top: 20px;
  min-height: 30px;
  background-color: 00;
  text-align: center;
  font-size: large;
}
.project-name {
  font-weight: bold;
  font-size: 1.4rem;
}
.project-name p {
  font-weight: bold;
  font-size: 1rem;
}

.card {
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.4);
  text-align: center;
  margin-top: 3px;
}
